<div class="header"
    [ngClass]="{
        'home-header': route.url === '/',
        'other-routes-header': route.url !== '/'
    }">
    <div class="bars">
        <button
            *ngIf="route.url === '/listado'"
            pButton
            pRipple
            type="button"
            icon="fa fa-bars fa-lg"
            class="p-button-rounded p-button-text"
            (click)="showFilters()">
        </button>
        <p>ArmáTuBanda!</p>
    </div>
    <div class="header-buttons">
        <button pButton pRipple type="button" label="Ayuda" class="p-button-raised p-button-text"></button>
        <button pButton pRipple type="button" label="Registrarse" class="p-button-raised p-button-text" routerLink="/registro"></button>
        <button pButton pRipple type="button" label="Conectarse" class="p-button-raised p-button-text" routerLink="/login"></button>
    </div>
</div>
