<div class="perfil">
    <div class="datos-personales">
        <img src="{{usuario.img}}" alt="">
        <h3>{{usuario.nombre}} {{usuario.apellido}}</h3>
        <p>Musico</p>
        <button
            pButton
            pRipple
            type="button"
            label="Contactar"
            class="btn-contactar"
            icon="fa fa-paper-plane-o">
        </button>
    </div>
    <div class="feed">
        <h2>Sobre {{usuario.nombre}}</h2>
        <p>{{usuario.descripcion}}</p>
        <h2>Experiencia</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt tempore doloremque deleniti. Labore distinctio enim quod, eum sequi eligendi vel. Earum animi amet error obcaecati, nihil praesentium illo eum officiis?</p>
        <h2>Formación académica</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, quos animi. Sunt, id. Ipsum fuga ex harum. At natus nulla voluptas aspernatur molestiae non harum? Dolorum molestiae consectetur repudiandae quaerat!</p>
    </div>
</div>
