<div class="login">
  <div class="login-container">
    <h2>Conectarse</h2>
    <form #loginForm="ngForm" class="form-inline" (ngSubmit)="login()" autocomplete="off">
      <div class="login-actions">
        <input
          pInputText 
          name="username"
          [(ngModel)]="model.username"
          class="form-control"  
          type="text"
          placeholder="Username"
        />
        <input
          pPassword
          name="password"
          [(ngModel)]="model.password"
          class="form-control"
          type="password"
          placeholder="Password"
        />
        <p-button type="submit" label="Login"></p-button>
      </div>
      <div class="text-actions">
        <p>¿No tienes una cuenta? Registrate</p>
        <p>¿Olvidaste la contraseña?</p>
      </div>
    </form>
  </div>
</div>