<div class="filter" *ngIf="display">
    <div class="filter-container">
        <p>
            <b>Filtros</b>
        </p>
        <input class="filter-inputs" type="text" pInputText placeholder="Nombre"/>
        <p-dropdown
            class="filter-inputs"
            [options]="userType"
            [(ngModel)]="selectedUser"
            optionLabel="nombre"
            (onChange)="changeMultiSelectOptions()">
        </p-dropdown>
        <p-multiSelect
            class="filter-inputs"
            [options]="multipleOptions"
            [(ngModel)]="selectedMultipleOptions"
            optionLabel="nombre">
        </p-multiSelect>
        <h4>Rating: {{ratingValues[0] + ' - ' + ratingValues[1]}}</h4>
        <p-slider
            class="filter-inputs"
            [(ngModel)]="ratingValues"
            [range]="true"
            [min]="1"
            [max]="5"
            [step]="0.1">
        </p-slider>
    </div>
</div>