.filter {
    width: 20rem;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    .filter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        p {
            margin-top: 2em;
        }
        .filter-inputs {
            width: 230px;
            margin-bottom: 1em;
        }
    }
}

:host::ng-deep {
    .p-dropdown, .p-multiselect {
        width: 100%;
    }
}

@media (max-width: 664px) {
    .filter {
        position: fixed;
        z-index: 10;
        min-height: 100%;
        box-shadow: 0 0 0 22em rgba(0, 0, 0, 0.4);
    }
}