.filter {
    width: 20rem;
    height: 100%;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    .filter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        p {
            margin-top: 2em;
        }
        .filter-inputs {
            width: 230px;
            margin-bottom: 1em;
        }
    }
}

:host::ng-deep {
    .p-dropdown, .p-multiselect {
        width: 100%;
    }
}