.filter {
    width: 20rem;
    height: 40em;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    .filter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        p {
            margin-top: 2em;
        }
        .filter-inputs {
            width: 230px;
            margin-bottom: 1em;
        }
        .buttons {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-top: 1em;
            .buscar {
                background-color: var(--main-color);
                border-color: var(--main-color);
            }
        }
    }
}

:host::ng-deep {
    .p-dropdown, .p-multiselect {
        width: 100%;
    }
    .p-slider {
        margin-bottom: 1em;
    }
    .p-button {
        width: 6em;
        height: 2.5em;
    }
}

@media (max-width: 664px) {
    .filter {
        position: fixed;
        z-index: 10;
        min-height: 100%;
        box-shadow: 0 0 0 22em rgba(0, 0, 0, 0.4);
    }
}