<div class="registro">
    <form #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="register()" autocomplete="off">
      <input
        pInputText 
        name="username"
        [(ngModel)]="model.username"
        class="form-control mr-sm-2"  
        type="text"
        placeholder="Username"
      />
      <input
        pPassword
        name="password"
        [(ngModel)]="model.password"
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
      />
      <button pButton pRipple type="submit" label="Login" class="p-button-raised p-button-text"></button>
    </form>
  </div>