<div class="login">
  <div class="login-box">
    <h2>Registro</h2>
    <form #loginForm="ngForm" class="form-inline" autocomplete="off">
      <div class="login-actions">
        <input
          pInputText 
          name="username"
          class="form-control"  
          type="text"
          placeholder="Nombre de usuario"
        />
        <input
          pInputText 
          name="email"
          class="form-control"  
          type="text"
          placeholder="Email"
        />
        <input
          pPassword
          name="password"
          class="form-control"
          type="password"
          placeholder="Contraseña"
        />
        <p-button type="submit" label="Registrarse"></p-button>
      </div>
      <div class="text-actions">
        <a href="/login">¿Ya tienes una cuenta? Conectate</a>
      </div>
    </form>
  </div>
</div>